
/**********************************************************
 * 
 * Cards
 *
 **********************************************************/
div.main-card {
  margin: 1rem;
  width: 80%;
  min-height: 100px;
}

div.form-field {
  width: 100%;
}

.mdl-card, .mdl-card__supporting-text {
    overflow: inherit;
}

